<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses | Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-success text-xl"><i class="bi bi-bookshelf"></i> Courses</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-outline-success" th:href="@{/courses/edit}"><i class="bi bi-plus-lg"></i> Add</a>
        </li>
          <li class="nav-item">
              <a th:href="@{/instructors}" class="nav-link">Check Instructors</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link" th:text="${username}"></a>
          </li>
      </ul>
      <form th:action="@{/courses}" method="get" class="d-flex gap-2" role="search">
        <div class="d-flex gap-2">
            <input type="text" name="name" placeholder="Search Name" th:value="${param.name}" class="form-control">
            <select name="level" class="form-select">
                <option value="">Select Level</option>
                <option th:each="level: ${levels}" th:value="${level}"
                        th:text="${level}" th:selected="${#strings.equals(param.level, level)}"></option>
            </select>
        </div>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container mt-4">
    <div th:if="${#lists.isEmpty(courses)}">
        <div class="alert alert-info">
            There is no data
        </div>
    </div>
    <div th:unless="${#lists.isEmpty(courses)}">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Instructor</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="course, iStat: ${courses.content}"
                     th:alt-title="${iStat.even}? 'even' : 'odd'">

                    <td th:text="*{course.id}"></td>
                    <td th:text="*{course.name}"></td>
                    <td >
                        <a th:href="@{/instructors/edit(id=*{course.instructor.id})}" th:text="*{course.instructor.name}"
                           class="text-primary text-decoration-none"></a>
                    </td>
                    <td th:text="*{course.description}"></td>
                    <td th:text="*{#temporals.format(course.startDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="*{course.level}"></td>
                    <td class="d-flex gap-3">
                        <a th:href="@{/courses/edit(id=*{course.id})}" class="btn btn-outline-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a th:href="@{/courses/delete/{id}(id=*{course.id},name=${param.name},level=${param.level},
                        pageNumber=${param.pageNumber}, size=${param.size})}"
                           onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

<!--        <div th:if="${courses.totalPages > 0}" class="pagination" th:each="pageNumber: ${pageNumbers}">-->
<!--            <a th:href="@{/courses(pageNumber=${pageNumber}, pageSize=${courses.size})}"-->
<!--                th:text="${pageNumber}" th:class="${pageNumber == courses.number + 1} ? 'active'"></a>-->
<!--        </div>-->

        <ul th:if="${courses.totalPages > 0}" class="pagination" >
            <li class="page-item" th:each="pageNumber: ${pageNumbers}">
                <a th:href="@{/courses(name=${param.name}, level=${param.level}, pageNumber=${pageNumber}, size=${courses.size})}"
                   th:text="${pageNumber}" th:class="${pageNumber == courses.number + 1} ? 'active'" th:classappend="page-link"></a>
            </li>

        </ul>

    </div>
</div>

</body>
</html>